<header>
    <ul class="menu">
        <li>{{#link "/" "Home" "SuitUp Framework"}}{{/link}}</li>
        <li>{{#link "/users" "Users" "SuitUp Framework"}}{{/link}}</li>
        <li>{{#link "/friends" "Friends" "SuitUp Framework"}}{{/link}}</li>
    </ul>
    <div class="logo"></div>
</header>